/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==General Styles== */
html{
  font-size: 16px;
}

body{
  font-size: 1em;
  font-family: 'Nunito Sans', sans-serif;
  color: #4d6265;
}

a{
  color: #4d6265;
  text-decoration: none;
}

h1{
  color: #e6f2ee;
  font-family: 'Nunito Sans Black', sans-serif;
  font-size: 3em;
  text-align: center;
}

h2{
  font-weight: 600;
  font-size: 2em;
  color: #8a1715;
  text-align: center;
}

p{
  font-size: 1.125em;
  line-height: 1.285;
}

img{
  width: 100%;
}

.content-wrapper {
  width: 90%;
  margin: 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

/* ==Base Header & Footer Styles== */

header,
footer{
  background-color: #013b46;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

footer {
  text-align: center;
  flex-direction: row wrap;
}

footer .content-wrapper{
  margin: 20px 0;
}

footer .contact{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

footer .social-icons{
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  width: 90%;
}

footer .social-icons i, footer .email i{
  color: #e6f2ee;
  font-size: 3em;
  line-height: 2em;
}

footer .email{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}

footer .email p{
  width: 50%;
  color: #e6f2ee;
}

footer h2{
  color: #e6f2ee;
  margin-top: 0;
  width: 100%;
}

/* ==Mobile Styles - Hero == */

header .hero {
  background: url(../img/hero-no-text.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.greeting{
  padding-top: 75px;
}

/* ==Mobile Styles - Services Section== */
.services{
  background-color: #e6f2ee;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
}

.services article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin-bottom: 20px;
}

.services-icon{
width: 30%;
display: flex;
justify-content: center;
flex-flow: column;
padding-top: 20px;
}

.services-icon-desc{
  text-align: center;
  padding-top: 20px;
}

/* ==About Section== */

.about{
  background-color: #1c8da2;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.about-image{
  background-color: #e6f2ee;
  width: 90%;
}

.about h2{
  color: #e6f2ee;
}

.about p{
  color: #e6f2ee;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding-bottom: 20px;
}

.about .bio{
  margin: 40px 0 40px 10px;
}

/* ==Writing Section== */
.writing h2{
  margin-bottom: 0;
  }

.writing{
  background-color:  #e6f2ee;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.medium-widget{
  padding: 0 10px 40px 10px;
  display: flex;
  flex-flow: row wrap;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
/* ====== Tablet Styles ======= */

.greeting{
  font-size: 3.75em;
  padding-top: 120px;
}

.content-wrapper {
  max-width: 670px;
}

header .hero{
  min-height: 700px;
}

.services article{
    width: 33%;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
}

.services-list{
  display: flex;
  flex-flow: row wrap;
}

.services-icon{
  width: 40%;
  padding-top: 20px;
  padding-bottom: 10px;
}

.services-icon-desc{
  width: 100%;
  padding: 0 25px;
}

.services .content-wrapper{
  margin: 0;
  align-items: flex-start;
}

.about .content-wrapper{
  align-items: flex-start;
  }

.about h2{
  width: 100%;
}

.about .about-image, .bio{
  width: 49%;
}

.about p{
  padding-left: 20px;
  margin-top: 0;
}

.about .bio{
  margin: 0 0 20px 0;
}


footer .contact{
  align-items: center;
}

footer .email{
  width: 49%;
}

footer .social-icons{
  flex-flow: row;
  justify-content: center;
  width: 49%;
}

footer i{
  padding: 0 40px;
  font-size: 3.5em;
}

}

@media only screen and (min-width: 1200px) {
/* ====== Desktop Styles ======= */

html{
  margin: auto;
}

h2{
  font-size: 3em;
}

p{
  font-size: 1.5em;
  line-height: 1.25;
}

.content-wrapper{
  max-width: 960px;
}

header .hero {
  background: url(../img/hero-no-text.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 900px;
}

.greeting{
  font-size: 5.5em;
  padding-top: 120px;
}

.services article{
    width: 33%;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin-bottom: 20px;
}

.services-list{
  display: flex;
  flex-flow: row wrap;
}

.services-icon{
  width: 30%;
}

.services-icon-desc{
  width: 100%;
  padding: 0 20px;
}

.services .content-wrapper{
  margin: 0;
}

.about .content-wrapper{
  justify-content: space-between;
  margin-top: 0;
}

.about

.writing .content-wrapper, .contact .content-wrapper{
  margin-top: 0;
}


footer .social-icons i, footer .email i{
  padding: 0 50px;
  font-size: 4em;
}

}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
